body {
    margin: 0;
}

/* -=-=-=-=-=-=- Header -=-=-=-=-=-=- */

header {
    background-color:rgb(0, 253, 253);

    display: flex;

    align-items: center;

    justify-content: space-between;
}

header input {
    flex-basis: 50%;
    height: 30px;

    border-radius: 10px;

    border-color: white;
}

.logo {
    width: 150px;
    height: 150px;
}

.header-menu {
    display: flex;

    gap: 10px;

    margin-right: 20px;
}

.header-menu svg {
    width: 40px;
    height: 40px;

    color: black;
}

/* -=-=-=-=-=-=- Footer -=-=-=-=-=-=- */

footer {
    display: flex;

    flex-direction: column;

    height: 200px;
    background-color: rgb(0, 0, 60);

    justify-content: space-around;

    align-items: center;

}

.footer-menu {
    width: 50%;

    display: flex;

    justify-content: space-between;
}

.menu-item {
    text-decoration: none;

    color: white;
}

footer>p {
    color: white;
}